<%- include parts/top.ejs %> 
    <script>
        $(document).ready(function() {
            $('#pdfslides').hide();

            $('#save').submit(function(e) {
                e.preventDefault();

                function success(data){
                    console.log(arguments);
                    alert(JSON.stringify(data));
                }

                function error(xhr, status, err){
                    alert(JSON.stringify(err));
                }

                $(this).ajaxSubmit( {
                    error: error,
                    success: success
                });
            });

            $('#type').change(function() {
                $('#dzslides').toggle();
                $('#pdfslides').toggle();
            });

            if("<%= presType %>" === "pdf") {
                $('#type').change();
            }
        });
    </script>

    <h2>Save</h2>
    <div>
        <form id="save" action="<%= action %>" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= token %>" />
            <div>
                <label> Title </label>
                <input id="title" name="title" value="<%= title %>" />
            </div>
            <div>
                <label> Description </label>
                <input id="desc" name="desc" value="<%= desc %>" />
            </div>
            <div>
                <label> Type: </label>
                <select id="type" name="type">
                    <option <% if(presType === "dzslides") { %> selected="selected" <% } %> value="dzslides">DzSlides (HTML/CSS)</option>
                    <option <% if(presType === "pdf") { %> selected="selected" <% } %> value="pdf">PDF (Upload)</option>
                </select>
            </div>
            <div id="dzslides">
                <div>
                    <label> HTML (dzSlides) </label>
                    <textarea id="html" name="html"><%= html %></textarea>
                </div>
                <div>
                    <label> CSS (dzSlides) </label>
                    <textarea id="css" name="css"><%= css %></textarea>
                </div>
            </div>
            <div id="pdfslides">
                <label> PDF File </label>
                <input type="file" id="pdffile" name="pdfFile" />
            </div>
            <div>
                <button id="saveButton"> Save </button>
            </div>
        </form>
    </div>
<%- include parts/bottom.ejs %> 