<%- include parts/top.ejs %> 
  <script>
    $(document).ready(function() {
      $('.delete').on('tapone', function(e) {
        e.preventDefault();
        if(confirm("Are you sure you wish to delete " + $(this).data("title") + "? It cannot be undone.")) {
          $.post('/delete/' + $(this).data("id"), {_csrf: '<%= token %>'}, function(data, status) { $(this).parent().parent().hide(); }.bind(this));
        }
      });

      $('.link').on('tapone', function(e) {
        e.preventDefault();
        window.location.href = $(this).data("url");
      })

      $('.qrcode').on('tapone', function(e) {
        e.preventDefault();
        window.open('http://chart.apis.google.com/chart?cht=qr&chs=300x300&chl='+encodeURIComponent(location.host + $(this).data("url")),'Qr%20code','top=100,left=200,width=350,height=350,status=yes');
      });
    });
  </script>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Type</th>
          <th>Created</th>
          <th>Last Edited</th>
          <th>View</th>
          <th>Present</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(pres in preslist) { %>
          <tr>
            <td><% if(preslist[pres].title) { %><%= preslist[pres].title %><% } else { %>None<% } %></td>
            <td><% if(preslist[pres].desc) { %><%= preslist[pres].desc %><% } else { %>None<% } %></td>
            <td><%= preslist[pres].type %></td>
            <td><%= preslist[pres].createdTimestamp %></td>
            <td><%= preslist[pres].modifiedTimestamp %></td>
            <td>
              <button class="link" data-url="/view/<%= preslist[pres].shortid %>">View</button>
              <button class="qrcode" data-url="/view/<%= preslist[pres].shortid %>">Viewer QRCode</button>
            </td>
            <td>
              <button class="link" data-url="/present/<%= preslist[pres].shortid %>">Present</button>
              <button class="qrcode" data-url="/present/<%= preslist[pres].shortid %>">Presenter QRCode</button>
            </td>
            <td><button class="link" data-url="/edit/<%= preslist[pres].shortid %>">Edit</button></td>
            <td><button class="delete" data-id="<%= preslist[pres].shortid %>" data-title="<%= preslist[pres].title %>">Delete</button></td>
          </tr>
        <% } %>
      </tbody>
    </table>
<%- include parts/bottom.ejs %>