<%- include parts/top.ejs %> 
    <ul>
    <% for(pres in preslist) { %>
      <li><%= preslist[pres].title %> (<%- link_to("View", "view/" + preslist[pres].shortid) %>) (<%- link_to("Present", "present/" + preslist[pres].shortid) %>)</li>
    <% } %>
    </ul>
<%- include parts/bottom.ejs %>